body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin:0;
    padding:100px;
    font-family: 'Courier New', Courier, monospace;
}


#calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(165, 161, 161);
    align-items: center;

    padding:15px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 6px;
    height: auto;
}

#calculatorDisplay{
    display: flex;
    flex-direction: column;

    background-color: rgb(48, 48, 48);
    
    width: 500px;
    
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

#upperDisplay{
    height:auto;
    text-align: right;
    justify-items: center;
    min-height: 35px;
    margin-inline: 10px;
    margin-top: 10px;
    font-size: 30px;
    max-width: 500px;
    overflow-wrap: break-word;
    
    
}
#lowerDisplay{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 60px;
    height: auto;
    overflow-wrap: break-word;
    margin-inline: 10px;
}

#buttonGrid{
    height:500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    padding: 3px;
    width: 500px;
}

#clearBtn{
    grid-column:span 2;
}

#equalBtn{
    grid-column: span 2;
}

#undoImg{
    width:30px;
    height: 30px;
}

button{
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 35px;
    border: 3px solid rgb(19, 16, 16);
    background-color: rgb(59, 59, 61)
}
button:hover{
    opacity: 80%;
}

.operatorBtn{
    background-color: rgb(88, 88, 88);
    border-color: rgba(134, 134, 134, 0.377);
}

#equalBtn{
    background-color: rgb(88, 88, 88);
}

#clearBtn{
    background-color: rgba(218, 85, 85, 0.685);
    border-color: rgb(163, 137, 137);
}

#undoBtn{
    background-color: rgba(107, 136, 197, 0.685);
    border-color: rgba(88, 153, 179, 0.377);
}

